template(name="page-front")
    .wrapper
        section.default-section
            .container-fluid
                .row.clearfix
                    .col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h3
                                | Welcome to ... Business, Admin and Marketing Apps Portal
                            blockquote
                                | TechChaps are proud to offer the beta release of the apps to businesses and professionals to manage their online business shopfronts and web backends.
                            h3
                                RoadMap
                            p Get an invite for demonstration; Just email to info@techchaps.co.uk with your interests and contact details.
                            p
                                b Status:
                                ul
                                    li  It is a beta release. --Under Development
                                    li  Offering Web CMS services for online public and internal websites. --Under Development
                                    li  Diary management app. --Under Development
                                    li  Issues / Task Management. --Under Development
                                    li  User management. --Under Development
                                b Pricing
                                ul
                                    li  One plan with all the current and future features. --Not available for beta version.
                                    li  Billed on the usage not features or number of logins/users registered. Means Unlimited users.
                                    li  Easy migration to on-premises hosted versions. --Also available for beta users.
                            h3 Subscribe for News
                            | We will use your email to send news about bamApps release and features update. Your email will only be used by our organisation.
                            a.theme-btn.btn-style-three(href='#') Subscribe Now
                            +footer
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            // <div class="icon"><img src="/images/icons/icon-2.png" alt=""></div>
                            h3 Login / Register for the beta version
                            h4
                                i Login form with forgot password and register new user options.

