template(name="pagebreaksdirectory")
    .page-wrapper
        section.default-section
            .auto-container
                .row.clearfix
                    .column.col-md-12.col-sm-12.col-xs-12
                        article.inner-box
                            h2 Respite Care Directory
                            p   We have a regularly updated directory that covers respite and short breaks services across Leicester, Leicestershire and Rutland.
                            a(href="http://www.claspthecarerscentre.org.uk/scripts/1101/uploads//DIRECTORYforrespitecare2016-7.pdf") Please click here for the latest copy of the Respite Care/Short Breaks Directory.
                            br
                            br
                            br
        section.subscribe-intro
            .auto-container
                .row.clearfix
                    .column.col-md-9.col-sm-12.col-xs-12
                        h2 Subcribe for Information and Magazine
                        |                     We will use your email to send you our Magazine and events information. Your email will only be used by our organisation.
                    .column.col-md-3.col-sm-12.col-xs-12
                        .text-right.padd-top-20
                            a.theme-btn.btn-style-three(href='#') Subscribe Now
        +footer
    .scroll-to-top.scroll-to-target(data-target='.main-header')
        span.fa.fa-arrow-up
    script(src='/js/bootstrap.min.js')
    script(src='/js/revolution.min.js')
    script(src='/js/jquery.appear.js')
    script(src='/js/knob.js')
    script(src='/js/jquery.fancybox.pack.js')
    script(src='/js/jquery.fancybox-media.js')
    script(src='/js/validate.js')
    script(src='/js/wow.js')
    script(src='/js/script.js')