template(name="pagesupportgroups")
    .page-wrapper
        section.default-section
            .auto-container
                .row.clearfix
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h3  Support Groups and Organisations
                            h5 Below is a list of carers groups around Leicester, Leicestershire & Rutland
                            h3 Leicester City
                            p Leicester The Carers Centre meet on a regular basis, the idea is to extend the Caring with Confidence group in order to help other carers. They will give mutual support, reduce isolation and make new friends, while giving a much needed break.  The group have an open option as to the kind of activities they would like to do.  This can be visiting a Garden Park, Coffee and Cake mornings or Museums & Cinemas...
                            h5 Our Next Meetings- For Carers wanting general Social Meetings & Information:-
                            p
                                b Coffee Morning-
                                | In the relaxation of the Peace Café. Venue: Peace Café, 17 Guildhall Lane.
                                b Date & Time:
                                | Thursday 26th May. 10:30am - Finish.
                            p
                                b Fun with Crafts-
                                | Come along & learn how to make trinket boxes, cards & have a go at glass engraving. Venue: The Carers Centre.
                                b Date & Time:
                                | Tuesday 31st May 10:30am - 12:30pm.
                            p
                                b Carers Week-
                                | Information stands of services for Carers and their families. Venue: Attenborough Hall, Charles Street.
                                b Date & Time:
                                | Tuesday 7th June. 10am - 2:30pm.
                            p
                                b Summer Stroll in Abbey Park-
                                | Enjoy a leisurely stroll around the park. Venue: Pay & Display car park - Abbey Park Road ( Belgrave Circle end).
                                b Date & Time:
                                |Friday 10th June. 10:30am - Finish.
                            p
                                b Managing Stress -
                                | Simple techniques to help manage stress levels. Venue: The Carers Centre.
                                b Date & Time:
                                | Wednesday 15th June 10am - 1pm.
                            p Please Contact to book your place..... Debbie or Pam on 0116 2510 999.

                            h3 Carers Self-Help Group
                            p Carers often have a lot of varied paperwork to deal with and it can be very daunting at times.  It is not always easy to have someone available to support you when you want them.
                            p We will be holding a carers self-help group at the Carers Centre on a weekly basis.  An advocate will be available to help the group with general advice,  on the following dates :-
                            b MAY 2016
                            p FRIDAY 20TH MAY,        THURSDAY 26TH MAY
                            b JUNE 2016
                            p FRIDAY 3RD JUNE,     FRIDAY 10TH JUNE,            FRIDAY 17TH JUNE,      THURSDAY 30TH JUNE
                            b JULY 2016
                            p FRIDAY 8TH JULY,      FRIDAY 22ND JULY,            THURSDAY 28TH JULY
                            b AUGUST 2016
                            p THURSDAY 4TH AUGUST,   THURSDAY 18TH AUGUST,     FRIDAY 26TH AUGUST
                            b SEPTEMBER 2016
                            p FRIDAY 2ND SEPTEMBER,    FRIDAY 16TH SEPTEMBER,    FRIDAY 23RD SEPTEMBER, THURSDAY 29TH SEPTEMBER.
                            b AT: The Carers Centre, Unit 19, Floor 4, Matrix House, 7 Constitution Hill, Leicester, LE1 1PL. TIME: The above will be accessible between  10am until  2pm ONLY.

                            b AUTISM MEETINGS - Open to people in the City, County & Rutland.  It is for carers, parents & Friends of people who have Autism.
                            p There will be a range of topics and guest speakers.  Information from the group helps provide a feed into the Leicestershire, Leicester & Rutland Autism Partnership Board.  We provide support to each other about issues that affect us.
                            p MEETING PLACE: - The Carers Centre, Unit 19, MATRIX House, 7 Constitution Hill, Leicester, LE1 1PL.
                            p TIME: -  10am - 12.30pm
                            p FUTURE DATES: - Thursday 21st July 2016,  Thursday 15th September 2016,  Thursday 17th November 2016.
                            p Future topics to be confirmed at a later date.
                            b Contact: If you have interest in any of the above and want further information, please contact us on 0116 2510 999.
                            br
                            br
                            h4  Charnwood Borough
                            p
                                b Loughborough Well-Being
                                | Group meets at John Storer House, Wards End, Loughborough, LE11 3HA, on the 1st Thursday of each month from 1.30pm to 3.30pm. Contact Joanne Clarke on 01509 631782 or email joanne.clarke@voluntaryactioncharnwood.org.uk
                            p
                                b Shepshed Well-Being Group
                                | meets at Charnwood Road Community Centre, 47a Charnwood Road, Shepshed, LE12 9QE on 3rd Tuesday of each month from 2.00pm to 4.00pm. Contact Joanne Clarke on 01509 631782
                            p
                                b Sileby & District Group
                                | meets at Soar Bridge Inn, 29 Bridge Street, Barrow on Soar, LE12 8PN, on the last Thursday of every month from 12.00noon to 2.30pm. Contact Joanne Clarke on 01509 631782
                            br
                            h4 Oadby & Wigston District
                            p
                                b Carers for One Another
                                | meets at Central Avenue, Church, Central Avenue, Wigston LE18 2AA, on 3rd Thursday of each month from 10am to 12.00pm. Contact Bernadette on 07905 558412
                            p
                                b Oadby & Wigston Carers Group
                                | meets at the Barnabus Centre, 7 Paul's Close, Oadby on the 3rd Monday of each month from 1.30 to 3.30pm. Contact Bernadette on 07905 558412
                            p
                                b Time Out for Carers group
                                | meet at the Salvation Army, Ladysmith Road, off saffron Road, South Wigston, LE18 4UZ on the 2nd Thursday of the month from 1.30pm to 3.00pm. Contact Gurjit from support for carers on 0845 689 9510.
                            br
                            h4 Blaby District
                            p
                                b Caring Friends Group
                                | meet at Palmers Garden Centre café, St John's, Enderby, LE19 2BS on the 1st and 3rd Tuesday of the month from 10.00am - 12 noon. Contact Alan Hooton on 0116 284 1982.
                            p
                                b Blaby Time Out for Carers
                                | meets the 2nd Tuesday of the month at Blaby Civic Centre, 22-24 Leicester Road, Blaby LE8 4GQ from 10.30am - 12 noon. Contact Jackie Williamson from support for carers on 0845 689 9510.
                            br
                            h4  Harborough District
                            p
                                b Carers' Break
                                | meets on the 4th Thursday of the month from 1.30pm - 3.00pm at the Methodist Church ( opposite the Market Hall), Northampton Road, Market Harborough, LE16 9HE. Contact support for carers on 0845 689 9510.
                            p
                                b Knit & Natter Group
                                | meets at The Angel Hotel, High Street, Market Harborough, LE16 7AF on the 3rd Thursday of each month from 1.30pm - 3.00pm. Contact support for carers on 0845 689 9510.
                            p
                                b Lutterworth & District Carers' Support Group
                                | meets at Hazeland Court Residential Lounge, Guthlaxton Avenue, Lutterworth on 4th Wednesday of each month from 7.00pm to 9.00pm. Contact Val on 01455 283387.
                            b Contact Nina: 07500 833771 ninajrobertson@btinternet.co.uk
                                a(href="http://www.writingsanctury.co.uk") www.writingsanctury.co.uk
                            p Mental ill Health carers' Support Group meet on 2nd Wednesday of each month 6.30pm - 8.30pm at the Methodist Church, Northampton Road, Market Harborough in the 'upstairs room'. Contact Nicola on 0845 689 9510.
                            h4 Hinckley & Bosworth District
                            p
                                b Time Out for carers Group
                                | meets at Hinckley Library ( meeting room) Lancaster Road, Hinckley, LE10 0AT on the 3rd Tuesday of each month from 10.30am - 12 noon. Contact Jacqui from support for carers on 0845 689 9510.
                            p
                                b Earl Shilton Carers Support Group
                                | meets at Greenacres Garden Centre, Ashby Road, Stapleton, LE9 8JE on 3rd Wednesday of every month from 10.30am - 12.00noon. Contact Maureen on 01455 846360 or Marlene on 01455 844878 or Support for Carers on 0845 689 9510
                            p Venues will be changing from August on....
                            b The Group - formerly called Snowdrops is not only changing its name but now has a new home.
                            p 'We support families, carers and loved ones of adults who use drugs, alcohol or other substances and aim to help carers through the turmoil that addiction can bring to families, such as family breakdown, violence, lost futures and bereavement'. - VASL support worker Marion Lewin.
                            p 'We are moving on August 6th 2015 to 'The Carpenter's Arms', Wharncliffe Road, Loughborough'.
                            p If you are caring for an adult or are a family member or friend of someone experiencing addiction or who are in recovery you are welcome to come and join the group's confidential meetings on the 1st Wednesday of every month at             7pm - 8.30pm in The Stable Room.
                            b For more information contact: Marion Lewin at VASL ( Voluntary Action South Leicestershire) or email mlewin@vasl.org.uk or call on 0845 689 9510.
                            br
                            h4 Melton Borough
                            p
                                b Melton Carers' Support Group
                                | meets on the 2nd Thursday of each month at 11am at the Carnegie Museum, Thorpe Way, Melton Mowbray, LE13 1RB. Contact Diane on 0845 689 9510 for more details.
                            p
                                b Bottesford Time Out For Carers Group
                                | meet on the 4th Tuesday of the month at The Rutland Arms, 2 High Street Bottesford, NN13 0AA (in the restaurant) from 10.30am - 12 noon. Call Diane from Support for Carers on 0845 689 9510.
                            h4 North West Leicestershire District
                            p
                                b Coalville Carers' Support Group
                                |meets at the Marlene Reid Centre, 85 Belvoir Road, Coalville, LE67 3PH on the 1st Thursday of the month from 10.30am - 12 noon. Contact Gurjit on 0845 689 9510 for more details
                            b Do You Care for Someone with Prostate Cancer?  We at Support for Carers, have been contacted by a carer who would like to talk to another carer who is looking after someone with Prostate Cancer.  Call 0845 689 9510.
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            div(style="border-style: solid;border-width: 1px;width: 90%; padding: 5px" align="center")
                                b   Are you a carer for someone living with dementia?
                                br
                                b Or are you living with dementia?
                                br
                                b We would like to invite you to our dementia café
                                br
                                b Come along and be part of a very exciting new venture, where you will be able to have your say and plan for future events at the dementia café.
                                br
                                b The café will run every second Tuesday of the month.
                                br
                                b Time:             1.30pm - 3.30pm
                                br
                                b Place:            Coalville Community Resource Centre,  Comet way, Coalville,
                                br
                                b Leicestershire   LE67 3FS
                                br
                                b Tel:                 0116 305 3202
                                br
                                b Refreshments will be available at 40p per cup
                            br
                            h4 MEMORY CAFES / ACTIVITY GROUPS IN LEICESTER

                            b Rollleston Memory Café, Eyres Monsell Community Centre, Hillsborough Road, Leicester, LE2 9PQ -
                            b 4th Friday of the month from 1.30pm - 3.30pm.
                            hr
                            b Willowbrook Memory Café - Thurnby Lodge Community Centre, Thurncourt Road, Leicester, LE5 2NG -
                            b 2nd Tuesday of the month from 1.30pm - 3.30pm.
                            hr
                            b The Brite Centre Activity Group - Braunstone Avenue, Leicester, LE3 1LE -
                            b 4th Tuesday of the month from 1.30pm - 3.30pm.
                            br
                            br
                            h3 Rutland
                            p If you have dementia or are caring for someone with dementia, come along to your local Support Group.  You will be able to meet with other people in a similar situation to you, have a cuppa and a chat and get advice, information and support.  We meet at the following locations in Rutland:
                            p
                                b Oakham Memory Lane Café -
                                | 1st Thursday of the month from 10am - 11.30am,  (7th April, 5th May, 2nd June, 7th July, 4th August, 1st Sept, 6th Oct, 3rd Nov, 1st Dec 2016.)  St John & St Anne's Community Room, off Westgate, Oakham. LE15 6AZ.
                            p Peer Support Group for Carers & Activity Group for People with Dementia -  4th Wednesday of the month 10.30am - 12 noon.  (27th April, 25th May, 22nd June, 27th July, 24th August, 28th Sept, 26th Oct, 23rd Nov, 28th Dec 2016. )Voluntary Action Rutland, Volunteer Centre, Land's End Way, Oakham. LE15 6RB.
                            b   For further information contact Alzheimer's Society, Leicestershire & Rutland, contact 0116 231 111
                                | OR Email: leicestershireandrutland@alzheimers.org.uk
                            br
                            br
                            h4 Ashby de la Zouch Carers Drop In

                            p Next meeting - Monday 8th June from 10.00am - 11.30am at Ashby de la Zouch library, North Street, Ashby de la Zouch, LE65 1HU.  Contact Gurjit from Support for Carers on 0845 689 9510

                            h4     CARERS DROP IN COFFEE SESSIONS

                            p AGE UK Leicester Shire & Rutland Macmillan Support Project - will be holding regular coffee drop ins for over 50s who are caring for someone with cancer or other long term health condition.  This opportunity will give the Carer access to information or self referral over coffee and a chat.
                            p Sessions will run from 10.30am - 12.30pm with alternate Fridays beginning on 25th April 2014.
                            p United Reformed Church, Abbots Road South, off Scraptoft Lane.
                            p Contact: Karen Valentine, Macmillan Independent Living Co-ordinator.  Tel: 0116 2046440.  www.ageuk.org.uk/leics/our-services/macmillan/

                            h4 Shuttlewood Clarke Foundation
                            p 1st Thursday of the month - Health & Wellbeing, Yoga, simple relaxation.
                            p 2nd Thursday -  Coffee and Chat,  Relax and enjoy the splendid surroundings of Ulverscroft Manor.
                            p 3rd Thursday Support Together,  For families and friends who care and support loved ones.

                            h4 NEW SUPPORT GROUP - Fibromyalgia friends together - a new group will meet as part of this day!!!
                            p Last Thursday - MS Drop In, Join us for coffee in the beautiful grounds of Ulverscroft Manor.
                            b For more information contact Kathleen or Helen on 01530 244914 or email Kathleen@shuttlewood-clarke.org

        section.subscribe-intro
            .auto-container
                .row.clearfix
                    .column.col-md-9.col-sm-12.col-xs-12
                        h2 Subcribe for Information and Magazine
                        |                     We will use your email to send you our Magazine and events information. Your email will only be used by our organisation.
                    .column.col-md-3.col-sm-12.col-xs-12
                        .text-right.padd-top-20
                            a.theme-btn.btn-style-three(href='#') Subscribe Now
        +footer
    .scroll-to-top.scroll-to-target(data-target='.main-header')
        span.fa.fa-arrow-up
    script(src='/js/bootstrap.min.js')
    script(src='/js/revolution.min.js')
    script(src='/js/jquery.appear.js')
    script(src='/js/knob.js')
    script(src='/js/jquery.fancybox.pack.js')
    script(src='/js/jquery.fancybox-media.js')
    script(src='/js/validate.js')
    script(src='/js/wow.js')
    script(src='/js/script.js')