template(name="pageadvocacy")
    .page-wrapper
        section.default-section
            .auto-container
                .row.clearfix
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h2 What is Advocacy?
                            p   Advocacy is a word that is used more and more these days but many people still remain confused as to its meaning.
                                | At the Centre we define advocacy very simply.
                                | We believe that advocacy helps people to speak up for themselves, or that an advocate will speak up on behalf of an individual.
                        article.inner-box
                            h3 What do I get from an advocacy & support service?
                            p   An advocate can provide you with relevant information and help you to understand your rights and entitlements as an informal carer. They will help you to ensure that these rights and entitlements are upheld. An advocate will offer practical help like helping you to prepare for, and representing you at, meetings (for example at reviews or an assessment), writing letters on your behalf and making phone calls, where necessary, to other agencies. We will also talk to social and health professionals on your behalf if necessary.
                            p   We also share with you information regarding local services in your area and if necessary help you to get in touch with them. If you identify a problem we cannot help with we will (with your permission) refer you on to the relevant agency wherever possible.
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h3 Advocacy
                            p
                                | The advocacy service provided by the Carers Centre is independent of services like Social Services and the NHS.
                                | It aims to make a fairer balance of power between individuals, groups and professionals.
                                | If necessary, advocates will challenge the decisions that professionals make on behalf of carers. Information shared with our workers is strictly confidential.
                                | Information about you and your situation will not be shared with any other agency without your permission.
                            p   The advocacy work offered by the Centre aims to work within the principles of equal opportunities and anti-oppressive practice. This means we aim to be fair to all.
                        article.inner-box
                            h3 How do I get in touch with an advocacy worker?
                            p   You can call The Carers Centre between 9am and 4pm, Monday to Friday on (0116) 2510999, or email enquiries@thecarerscentre.org.uk. A referral will be taken and an advocacy worker will contact you. All of our advocacy workers are able to offer home visits. We can offer appointments outside of normal working hours - e.g. evenings and weekends.
        section.subscribe-intro
            .auto-container
                .row.clearfix
                    .column.col-md-9.col-sm-12.col-xs-12
                        h2 Subcribe for Information and Magazine
                        |                     We will use your email to send you our Magazine and events information. Your email will only be used by our organisation.
                    .column.col-md-3.col-sm-12.col-xs-12
                        .text-right.padd-top-20
                            a.theme-btn.btn-style-three(href='#') Subscribe Now
        +footer
    .scroll-to-top.scroll-to-target(data-target='.main-header')
        span.fa.fa-arrow-up
    script(src='/js/bootstrap.min.js')
    script(src='/js/revolution.min.js')
    script(src='/js/jquery.appear.js')
    script(src='/js/knob.js')
    script(src='/js/jquery.fancybox.pack.js')
    script(src='/js/jquery.fancybox-media.js')
    script(src='/js/validate.js')
    script(src='/js/wow.js')
    script(src='/js/script.js')