template(name="pagerelaxation")
    .page-wrapper
        section.default-section
            .auto-container
                .row.clearfix
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h2 Relaxation
                            p What's so important about relaxation? What if I don't have time to relax?
                            a(href="http://www.claspthecarerscentre.org.uk/scripts/1101/uploads//RelaxKRA2.pdf") Click for details.
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h3 Stress - and how to deal with it
                            p What is stress? What can it do to me? How can I reduce it's effects on me?
                            a(href="http://www.claspthecarerscentre.org.uk/scripts/1101/uploads//StressKRA2.pdf") Click for details.
        section.subscribe-intro
            .auto-container
                .row.clearfix
                    .column.col-md-9.col-sm-12.col-xs-12
                        h2 Subcribe for Information and Magazine
                        |                     We will use your email to send you our Magazine and events information. Your email will only be used by our organisation.
                    .column.col-md-3.col-sm-12.col-xs-12
                        .text-right.padd-top-20
                            a.theme-btn.btn-style-three(href='#') Subscribe Now
        +footer
    .scroll-to-top.scroll-to-target(data-target='.main-header')
        span.fa.fa-arrow-up
    script(src='/js/bootstrap.min.js')
    script(src='/js/revolution.min.js')
    script(src='/js/jquery.appear.js')
    script(src='/js/knob.js')
    script(src='/js/jquery.fancybox.pack.js')
    script(src='/js/jquery.fancybox-media.js')
    script(src='/js/validate.js')
    script(src='/js/wow.js')
    script(src='/js/script.js')
template(name="pagediet")
    .page-wrapper
        section.default-section
            .auto-container
                .row.clearfix
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h2 Under Construction
        section.subscribe-intro
            .auto-container
                .row.clearfix
                    .column.col-md-9.col-sm-12.col-xs-12
                        h2 Subcribe for Information and Magazine
                        |                     We will use your email to send you our Magazine and events information. Your email will only be used by our organisation.
                    .column.col-md-3.col-sm-12.col-xs-12
                        .text-right.padd-top-20
                            a.theme-btn.btn-style-three(href='#') Subscribe Now
        +footer
    .scroll-to-top.scroll-to-target(data-target='.main-header')
        span.fa.fa-arrow-up
    script(src='/js/bootstrap.min.js')
    script(src='/js/revolution.min.js')
    script(src='/js/jquery.appear.js')
    script(src='/js/knob.js')
    script(src='/js/jquery.fancybox.pack.js')
    script(src='/js/jquery.fancybox-media.js')
    script(src='/js/validate.js')
    script(src='/js/wow.js')
    script(src='/js/script.js')