template(name="page-front")
    .wrapper
        section.default-section
            .container-fluid
                .row.clearfix
                    .col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h2
                                | 25 Years
                                span.normal-font of Supporting Carers '
                            p
                                | We are a Leicestershire based charity and dedicated to supporting family carers across Leicester,
                                | Leicestershire and Rutland and work with a diverse population with differing needs.
                            p
                                | In Leicestershire there are over 105,000 family carers and we help over 3,000 carers every year.
                                | As a highly valued organisation we receive many referrals from GPs, social workers,
                                | health professionals, police and other charitable organisations.
                                | We offer a range of free services to help both practically and emotionally.
                            p
                                | By giving family carers ongoing dedicated support we can help them cope with their
                                | situations within their own homes. Our work makes a huge difference to carers struggling
                                | to cope with disabled and critically ill loved ones.
                            p
                                b Our Aims:
                                ul
                                    li  Enhance the quality of life of carers and their families
                                    li  Empower carers to maximise their rights and entitlements
                                    li  Raise public awareness of carers and their needs
                                    li  Raise awareness of the value of carers and their contribution to society
                                    li  To become a recognised centre of excellence
                            p
                                | Carers provide ongoing support to a relative, friend or neighbour who, due to ill health, long term condition or disability cannot manage without their help.
                                | Carers can be any age or sex, from all backgrounds and communities.
                            p
                                b Caring responsibilities
                                | can include providing personal care (washing, bathing, dressing,
                                | feeding), cooking, housework, shopping, managing finances, helping with medication and
                                | injections, as well as providing emotional and social support. Carers are not paid for
                                | providing help, although some may be eligible for benefits.
                            p
                                | The Carers Centre is run by a Board of Trustees, the majority of whom are carers or former carers.
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h3 Advocacy
                            p
                                | At the Centre we define advocacy very simply. We believe that advocacy helps people to speak up for themselves,
                                | or that an advocate will speak up on behalf of an individual.
                            a.read-more(href='#') Read More
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            // <div class="icon"><img src="/images/icons/icon-2.png" alt=""></div>
                            h3 Information
                            p
                                | The Carers Centre has access to a wide range of information and can help you with information
                                | about social care and health services, carers rights, and a range of other information.
                            a.read-more(href='#') Read More
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            // <div class="icon"><img src="/images/icons/icon-2.png" alt=""></div>
                            h3 Training
                            p
                                | Over 60% of family carers are likely to suffer from back injury as a direct result of poor moving and handling techniques.
                                | While care staff are protected by law and entitled to receive training, family carers often do not receive the same protection.
                                | The Carers Centre is now offering FREE moving and handling training to family carers.
                            a.read-more(href='#') Read More
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            // <div class="icon"><img src="/images/icons/icon-3.png" alt=""></div>
                            h3 Consulting carers
                            p
                                | Consulting with carers is a crucially important aspect of The Carers Centre's existence and its future development.
                                | We aim to give carers a voice in the way our services are run and in the development of new services.
                            a.read-more(href='#') Read More
                    .column.col-md-12.col-sm-12.col-xs-12
                        article.inner-box
                            .content-box.pull-right
                                .clearfix(style='margin-top: -30px')
                                    .icon-box(style="float: left; margin-right: 20px")
                                        div
                                        .lower-box
                                            img(src='/images/cqslogo.jpg', alt='cqs logo', style='width: 130px; margin: 30px 0 0 0;')
                                            br
                                            br
                                    .icon-box(style="float: left; margin-right: 20px")
                                        div
                                        .lower-box
                                            br
                                            img(src='/images/CountyCouncillogo.jpg', alt='cqs logo', style='width: 160px; margin: 20px 0 0 0;')
                                            br
                                            br
                                            br
                                    .icon-box(style="float: left; margin-right: 20px")
                                        div
                                        .lower-box
                                            img(src='/images/CityCouncillogo.gif', alt='cqs logo', style='height: 120px; margin: 10px 0 0 0;')
                                    .icon-box(style="float: left; margin-right: 40px")
                                        div
                                        .lower-box
                                            br
                                            img(src='/images/logonhs.gif', alt='cqs logo', style='height: 60px; margin: 20px 0 0 0;')
                                    .icon-box(style="float: left; margin-right: 20px")
                                        .lower-box
                                            .leftlogo
                                                .donatetext Please Donate
                                                a(href='http://uk.virginmoneygiving.com/fundraiser-web/donate/indexerSearchCharityResults.action?__checkbox_checkboxFundraiserActivity=true&__checkbox_checkboxEvents=true&checkboxCharity=true&__checkbox_checkboxCharity=true&searchName=clasp&x=15&y=16&parentNavigation=395', target='blank')
                                                    img.virginmoney(border='0', src='/images/virginmoneygiving.jpg', alt='click to donate')
                                .clearfix
        section.become-volunteer
            .outer.clearfix
                article.column.content-column.clearfix(style='background-image:url(/images/background/image-1.jpg);')
                    .pattern-layer
                    .content-box
                        h2
                            | Become a Volunteer
                            br
                            span.normal-font We can Change everything together
                        .text
                            | Any volunteer helpers.. Whether you can offer an hour or more would be greatly appreciated !!!
                        a.theme-btn.btn-style-three(href='#') JOIN WITH US
                article.image-side(style='background-image:url(/images/volunteer.png);')
        section.events-section.upcoming-events
            .auto-container
                .sec-title.text-center
                    h2
                        | Upcoming
                        span.normal-font Events
                    .text Programme for The Carers Support Group
                .row.clearfix
                    // Cause Column
                    .column.event-column.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        article.inner-box
                            // <figure class="image-box">
                            // <a href="#"><img src="/images/resource/featured-image-7.jpg" alt=""></a>
                            // </figure>
                            .content-box
                                h4 Basic First Aid Awareness
                                .event-info Tues, 19 April, 10 -- 1pm
                                p
                                    .text
                                        | Covers life-saving skills
                                        br
                                        |  Venue: The Carers Centre
                    .column.event-column.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        article.inner-box
                            // <figure class="image-box">
                            // <a href="#"><img src="/images/resource/featured-image-7.jpg" alt=""></a>
                            // </figure>
                            .content-box
                                h4 Basic First Aid Awareness
                                .event-info Tues, 19 April, 10 -- 1pm
                                p
                                    .text
                                        | Covers life-saving skills
                                        br
                                        |  Venue: The Carers Centre
                    .column.event-column.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        article.inner-box
                            // <figure class="image-box">
                            // <a href="#"><img src="/images/resource/featured-image-7.jpg" alt=""></a>
                            // </figure>
                            .content-box
                                h4 Basic First Aid Awareness
                                .event-info Tues, 19 April, 10 -- 1pm
                                p
                                    .text
                                        | Covers life-saving skills
                                        br
                                        |  Venue: The Carers Centre
                    .column.event-column.col-lg-3.col-md-3.col-sm-6.col-xs-12
                        article.inner-box
                            // <figure class="image-box">
                            // <a href="#"><img src="/images/resource/featured-image-7.jpg" alt=""></a>
                            // </figure>
                            .content-box
                                h4 Basic First Aid Awareness
                                .event-info Tues, 19 April, 10 -- 1pm
                                p
                                    .text
                                        | Covers life-saving skills
                                        br
                                        |  Venue: The Carers Centre
        section.contact-section(style='background-image:url(/images/map.png);')
            .auto-container
                .inner-container
                    .sec-title.text-center
                        h2
                            | Contact
                            span.normal-font Us
                        .text
                            | The Carers Centre is located in Leicester City Centre overlooking the Train Station.
                        div
                            | Please phone 0116 251 0999 if you have difficulty finding us. Click
                            a(href='http://www.bing.com/mapspreview?&ty=18&q=le1%201pl&mb=53.111757~-2.888473~51.073769~0.676591&tt=LE1%201PL&tsts0=%2526ty%253d18%2526q%253dle1%2525201pl%2526mb%253d53.111757~-2.888473~51.073769~0.676591&tstt0=LE1%201PL&cp=52.63404~-1.12566&lvl=17&ftst=0&ftics=False&v=2&sV=1&form=S00027')
                                | map
                            |  to see where we are on Multimap.
                    .contact-info.row.clearfix
                        .info-column.col-lg-4.col-md-6.col-xs-12
                            .inner-box
                                .icon
                                    span.flaticon-location
                                h4 ADDRESS
                                |                             CLASP The Carers Centre Unit 19,
                                br
                                |                             4th Floor, Matrix House, Constitution Hill,
                                br
                                |                             Leicester, UK, LE1 1PL
                                br
                                br
                                a(href='http://www.bing.com/mapspreview?&ty=18&q=le1%201pl&mb=53.111757~-2.888473~51.073769~0.676591&tt=LE1%201PL&tsts0=%2526ty%253d18%2526q%253dle1%2525201pl%2526mb%253d53.111757~-2.888473~51.073769~0.676591&tstt0=LE1%201PL&cp=52.63404~-1.12566&lvl=17&ftst=0&ftics=False&v=2&sV=1&form=S00027')
                                    | Click
                                    u
                                        b map
                                    |  to see where we are on Multimap.
                        // Info COlumn
                        .info-column.col-lg-4.col-md-6.col-xs-12
                            .inner-box
                                .icon
                                    span.flaticon-technology
                                h4 Phone
                                |  0116 251 0999
                        // Info COlumn
                        .info-column.col-lg-4.col-md-6.col-xs-12
                            .inner-box
                                .icon
                                    span.flaticon-interface
                                h4 Email
                                a(href='mailto:enquiries@claspthecarerscentre.org.uk') enquiries@claspthecarerscentre.org.uk
                    .sec-title.left
                        .text
                            h3  From the Motorway
                            p
                                | Leave the M1 at Junction 21. Take the A5460 to the city centre.
                                | Follow signs to the Train Station. Take a left after St Georges Retail Park.
                                | You should see the entrance to Matrix house on the right
                            h3  By Train
                            |                         Turn right out of the Train Station
                            |                         Keep following the main road round on the right
                            |                         This main road is St George's Way
                            |                         Look for the Leicester Mercury Building to your left
                            |                         Look out for a Ibis hotel straight ahead
                            |                         Matrix House, our office building, is behind the Ibis hotel
                            |                         Not more than five minutes slow walk but take a taxi from the train station if you need one.
                            |                         Please click contact us to tell us about ways in which these directions can be improved.
                    // Form Container
                    .contact-form-container.wow.fadeInUp(data-wow-delay='200ms', data-wow-duration='1500ms')
                        form#contact-form(method='post', action='sendemail.php')
                            .row.clearfix
                                .column.col-md-6.col-sm-12.col-xs-12
                                    .form-group
                                        input(type='text', name='username', value='', placeholder='Username')
                                    .form-group
                                        input(type='email', name='email', value='', placeholder='Email')
                                    .form-group
                                        input(type='text', name='phone', value='', placeholder='Phone')
                                .column.col-md-6.col-sm-12.col-xs-12
                                    .form-group
                                        textarea(name='message', placeholder='Your Message')
                                .form-group.col-md-12.col-xs-12
                                    .text-center
                                        button.theme-btn.btn-style-two(type='submit', name='submit') SEND
        // Intro Section
        section.subscribe-intro
            .auto-container
                .row.clearfix
                    // Column
                    .column.col-md-9.col-sm-12.col-xs-12
                        h2 Subcribe for Information and Magazine
                        |                     We will use your email to send you our Magazine and events information. Your email will only be used by our organisation.
                    // Column
                    .column.col-md-3.col-sm-12.col-xs-12
                        .text-right.padd-top-20
                            a.theme-btn.btn-style-three(href='#') Subscribe Now
        // Main Footer
        +footer