template(name="pagetraining")
    .page-wrapper
        section.default-section
            .auto-container
                .row.clearfix
                    .column.col-md-12.col-sm-12.col-xs-12
                        article.inner-box
                            h2 Training
                            p  The Carers Centre are inviting you to attend FREE training sessions in response to Carers interests in the following programmes -
                            p  CITY Information Sessions for Unpaid Carers April - June 2016
                            table(style='width: 100.14%; height: 66px; border-collapse: collapse;')
                                tbody
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;')
                                            p
                                                span(style='font-weight: bold;') DATE:
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;')
                                            blockquote(style='margin-right: 0px;', dir='ltr')
                                                p(align='left')
                                                    span(style='font-weight: bold;') SESSION:
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;')
                                            p
                                                | Wednesday 11th May
                                                br
                                            p
                                                br
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;')
                                            | Transitions from Children's Services to Adult Services - Session covers how the law works for children approaching 18 & their parents.
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;') Wednesday 18th May
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;')
                                            | The Care Act: Needs Assessments - Session covers the Care Act 2014 & how assessments are carried out on the person you care for.
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;') Friday 20th May
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;')
                                            p
                                                | Speaking Up For Yourself ! - How to prepare for an assessment & present your case.   (
                                                span(style='color: rgb(255, 0, 0);')
                                                    | Due to unforeseen circumstances this has now changed from the originally dated Thursday 19th May)
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;') Wednesday 25th May
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;')
                                            | The Care Act : Carers Assessments - Session covers the Care Act 2014 & how carers assessments are carried out - and your rights as a carer.
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;') Thursday 2nd June
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;') Basic First Aid Awareness - Session covers Life-saving skills.
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;') Thursday 9th June
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none; letter-spacing: 0px; word-spacing: 0px;')
                                            p Speaking Up For Yourself ! How to prepare for an assessment & present your case.
                            table(style='width: 100%; border-collapse: collapse;')
                                tbody
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            p Wednesday  15th June                
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            | Managing   Stress
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;') Thursday 16th June
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            p Relaxation - and how not to avoid it! 
                                            p Session covers simple techniques to improve relaxation and reduce stresses.
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;') Tuesday 5th July
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            | Carers Rights.. Your rights as a carer.  Includes information about Carers Assessments.
                            table(style='width: 100%; border-collapse: collapse;')
                                tbody
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            p Tuesday12th   July
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            | Personal Independence Payments...What is 'PIP' and how do you claim for it? How does it work?
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            p Tuesday 19th July
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            | Wills & Trusts... Sessions cover the importance of writing a will and some of the issues around it.  Question and answer session at the end.
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;') Tuesday 26th July
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            | Mental Capacity: Power of Attorney and Deputyship / Court of Protection ... Session covers preparing for loss of ability to make decisions, what to do if the person does not have capacity.
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;') Tuesday 2nd August
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            | Preparing for a Carers Assessment... What do I need to think about? What would help me?
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;') Tuesday 9th August
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            | Safeguarding Adults... Session covers how the law affects carers and the people they care for - making sure that people are protected.
                            p   The above sessions will run from Time: 10am until 1pm. Place: The Carers Centre, UNIT 19 Floor 4th, MATRIX HOUSE, 7 Constitution Hill, Leicester, LE1 1PL.  ( We can arrange other times for later sessions depending on interest.)
                            p   Please contact Debbie or Satwant to book a place on 0116 2510 999. Email: enquiries@thecarerscentre.org.uk.
                            p   NOTICE: If you attend any of the above sessions by CAR, you will need to request a parking permit on the day!
                            hr
                    .column.col-md-12.col-sm-12.col-xs-12
                        article.inner-box
                            h3  PREPARED TO CARE WITH CONFIDENCE!
                            p As part of the changes we're introducing from April, our training programme Caring with Confidence is being replaced with 'Prepared to Care with Confidence!'. It offers a wider range of topics and will be supported by the information sessions held at The Carers Centre drop-ins.
                            table(style='width: 100%; border-collapse: collapse;')
                                tbody
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            span(style='font-weight: bold;') Caring with Coping
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            p Monday       4th April 2016
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            | Gives you time & space to look at the emotions involved in looking after someone & how to recognise & deal with stress more effectively.
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            span(style='color: rgb(255, 0, 0);')
                                                span(style='color: rgb(0, 0, 128);')
                                                    span(style='color: rgb(0, 0, 0); font-weight: bold;') Managing Stress Effectively
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            span(style='color: rgb(255, 0, 0);')
                                                span(style='color: rgb(0, 0, 0);') Monday 11th April 2016
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            | Relaxation and how not to avoid it! Using simple techniques to incorporate in everyday life.  Looks at ways to help you juggle your caring role & also find valuable time for yourself!
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            span(style='color: rgb(255, 0, 0);')
                                                span(style='color: rgb(0, 0, 128);')
                                                    span(style='color: rgb(0, 0, 0); font-weight: bold;') Caring and Communication
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            p
                                                span(style='color: rgb(255, 0, 0);')
                                                    span(style='color: rgb(0, 0, 0);')
                                                        br
                                            p
                                                span(style='color: rgb(255, 0, 0);')
                                                    span(style='color: rgb(0, 0, 0);') Monday 18th April 2016
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            | Helps you get the best from communicating with professionals & service providers.  Ideas to help with self-advocacy & find out more about local support available to you.
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            span(style='color: rgb(255, 0, 0);')
                                                span(style='color: rgb(0, 0, 128);')
                                                    span(style='color: rgb(0, 0, 0);')
                                                        span(style='font-weight: bold;') Caring Day to Day
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            p
                                                span(style='color: rgb(255, 0, 0);')
                                                    span(style='color: rgb(0, 0, 0);')
                                                        br
                                            p
                                                span(style='color: rgb(255, 0, 0);')
                                                    span(style='color: rgb(0, 0, 0);') Monday 25th April 2016
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            | The essentials of caring for someone every day from medication to emergencies.  Discussions around equipment available to help keep someone safe in their own home & looking at moving & handling.
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            span(style='color: rgb(255, 0, 0);')
                                                span(style='color: rgb(0, 0, 128);')
                                                    span(style='color: rgb(0, 0, 0); font-weight: bold;') Caring and Life
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            span(style='color: rgb(255, 0, 0);')
                                                span(style='color: rgb(0, 0, 0);') Monday 9th May 2016
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            | Invites you to take time out & think about how to juggle competing demands & how your caring role fits with other aspects of your life.
                                    tr
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            span(style='color: rgb(255, 0, 0);')
                                                span(style='color: rgb(0, 0, 128);')
                                                    span(style='color: rgb(0, 0, 0); font-weight: bold;') Caring and Working
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            span(style='color: rgb(255, 0, 0);')
                                                span(style='color: rgb(0, 0, 0);') Monday 16th May 2016
                                        td(style='border: 1px solid rgb(0, 0, 0); border-image: none;')
                                            | If you would like to do something outside of caring, there are lots of options out there.  This session explores the options available, including training, education, volunteering & work.  You will look at the many skills you have (even if you haven't spotted them yet) and start to decide what changes, if any, you want to make in your life.
                            p The above Training will be held at LCIL  West End Neighbourhood Centre. Andrewes Street off Hinckley Road, Leicester, LE3 5PA.  Time: 10am - 1pm.
                            p(style="color:red") Places will be limited, if you are interested in attending any of the above or would like more information, please contact Debbie or Ranjana on 0116 2510 999.
                            h3  GETTING THE BEST FROM A CARERS ASSESSMENT .....
                            table
                                tr
                                    td Date:
                                    td 27th  May 2016
                                    td  Time: 10:30am - 2:30pm
                                    td This will be held in:
                                    td  ENGLISH
                                tr
                                    td Date:
                                    td 6th   July 2016
                                    td  Time: 10:30am - 2:30pm
                                    td This will be held in:
                                    td  GUJARATI
                            p These sessions are in the 'Political Room' at The Town Hall, Leicester.  Contact DEBBIE to book your place..0116 2510 999.
                            h3  MOVING AND HANDLING
                            p Over 60% of family carers are likely to suffer from back injury as a direct result of poor moving and handling techniques.  While care staff are protected by law and entitled to receive training, family carers often do not receive the same protection.  The Carers Centre is now offering FREE moving and handling training to family carers.
                            b next session:-
                            p Date: Please contact the Centre to be added to our waiting list details.  We can contact you on the next available date/s.
                            p(style="color:red")  Places will be limited, if you are interested in attending any of the above or would like more information, please contact Debbie or Ranjana on0116 2510 999.
                            h3 CARERS CHAMPION
                            p We are inviting you to join us on the Carers Health Champion programme starting on -
                                b Wednesday 24th February 2016.  This will be a course every Wednesday for 12 weeks.
                            p From 12:30pm - 3:30pm.
                            p The Salvation Army Leicester South
                            p Ladysmith Road off Saffron Road, South Wigston, Leicester, LE18 4UZ
                            p(style="color:red") Training is FREE, this will be held locally and will provide you with the opportunity to:
                                br
                                b Meet other Carers and former carers
                                    br
                                    | Share experiences
                                    br
                                    | Gain insight into the challenges faced by other Carers
                                    br
                                    | Consider how carers can develop coping strategies
                                | If you would like to know more, please contact:
                            p(style="color:red") Melissa Frater  07835453366 or Melissa.frater@chlfoundation.org.uk -Project Officer




        section.subscribe-intro
            .auto-container
                .row.clearfix
                    .column.col-md-9.col-sm-12.col-xs-12
                        h2 Subcribe for Information and Magazine
                        |                     We will use your email to send you our Magazine and events information. Your email will only be used by our organisation.
                    .column.col-md-3.col-sm-12.col-xs-12
                        .text-right.padd-top-20
                            a.theme-btn.btn-style-three(href='#') Subscribe Now
        +footer
    .scroll-to-top.scroll-to-target(data-target='.main-header')
        span.fa.fa-arrow-up
    script(src='/js/bootstrap.min.js')
    script(src='/js/revolution.min.js')
    script(src='/js/jquery.appear.js')
    script(src='/js/knob.js')
    script(src='/js/jquery.fancybox.pack.js')
    script(src='/js/jquery.fancybox-media.js')
    script(src='/js/validate.js')
    script(src='/js/wow.js')
    script(src='/js/script.js')