template(name="pageinformation")
    .page-wrapper
        section.default-section
            .auto-container
                .row.clearfix
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h2 Information
                            p   The Carers Centre has access to a wide range of information and can help you with information about social care and health services, carers rights, and a range of other information.
                            p   If you want to download more information about benefits, we suggest you visit http://www.carersuk.org/help-and-advice/help-with-money for more information.
                            p   In response to changes in the UK benefit system, the charity Turn2us has launched a new free and easy to use online Benefit Calculator benefits.turn2us.org.uk.this vital tool is to help more people access financial support they may be entitled to.
                            p   We are currently looking at how to make our website more informative. Please check back to see what's on offer soon!
                            h3  Carers Allowance Customer Services
                            p   Anyone wanting further information on these type of benefits please call the Carers Allowance Unit on 0345 608 4321 OR email cau.customer-services@dwp.gsi.gov.uk.
                            h3 Education Grants
                            p   If the family needs a substantial grant, they can apply for an
                                a(href="http://www.ftct.org.uk/grants/education-grants/") education grant
                                | to  cover the cost of high-value items including specialist tutorial support, learning tools (including specialist tools, books and course equipment), school necessities (including uniform and sports equipment) and transport cost.
                            p   PLEASE NOTE: It is vital the parent or carer has evidence of their trade connection before we can get the enquiry underway.
                                a(href="http://www.ftct.org.uk/grants/supporting-evidence/") (Click here for more details)
                            p   If you know a parent or carer that has child between the age of 0-18 and would like to know if they are eligible for a grant visit,
                                a(href="http://www.ftct.org.uk") www.ftct.org.uk
                                | or call our grants coordinator, Dora on 0300 123 9002 (Calls cost no more than your standard rate)vailable for school uniforms!
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h3 Funding available for school uniforms!
                            p   If you have a Facebook or twitter page, we'd love you to post this to your followers and help us reach more families who need our support!
                            p   Are you working with families who are struggling to meet the cost of a new school uniform and other essential items?
                            p   If anyone you support works, or has previously worked within the last 9 years, in the UK fashion or textile industry (including supermarkets that sell clothing, manufacturers, wholesalers, soft furnishings and more) we may be able to give a grant to help the parent or carer buy new school uniforms and other items for their children (0-18yrs).
                            a(href="http://www.ftct.org.uk/wp-content/ftctuploads/Fashion-and-textile_job-roles-covered.pdf") (Click here to see the wide range of job roles we cover)
                            p   We have two grants available, providing the parent or carer meets our
                                a(href="http://www.ftct.org.uk/grants/who-can-apply/") eligibility criteria.
                            p   Small Grant Application (up to the value of £250)
                            p   For anything up to the value of £250, our
                                a(href="http://www.ftct.org.uk/grants/small-grant-applications/") small grants
                                | are there to help the parent and carer cover the cost of specific items such as school uniforms, learning tools, bedding, clothing, furniture etc.
                            p   This is a fast-track application, and we do not require a full financial statement.
        section.subscribe-intro
            .auto-container
                .row.clearfix
                    .column.col-md-9.col-sm-12.col-xs-12
                        h2 Subcribe for Information and Magazine
                        |                     We will use your email to send you our Magazine and events information. Your email will only be used by our organisation.
                    .column.col-md-3.col-sm-12.col-xs-12
                        .text-right.padd-top-20
                            a.theme-btn.btn-style-three(href='#') Subscribe Now
        +footer
    .scroll-to-top.scroll-to-target(data-target='.main-header')
        span.fa.fa-arrow-up
    script(src='/js/bootstrap.min.js')
    script(src='/js/revolution.min.js')
    script(src='/js/jquery.appear.js')
    script(src='/js/knob.js')
    script(src='/js/jquery.fancybox.pack.js')
    script(src='/js/jquery.fancybox-media.js')
    script(src='/js/validate.js')
    script(src='/js/wow.js')
    script(src='/js/script.js')