template(name="pagegetabreak")
    .page-wrapper
        section.default-section
            .auto-container
                .row.clearfix
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h2 Under Construction
        section.subscribe-intro
            .auto-container
                .row.clearfix
                    .column.col-md-9.col-sm-12.col-xs-12
                        h2 Subcribe for Information and Magazine
                        |                     We will use your email to send you our Magazine and events information. Your email will only be used by our organisation.
                    .column.col-md-3.col-sm-12.col-xs-12
                        .text-right.padd-top-20
                            a.theme-btn.btn-style-three(href='#') Subscribe Now
        +footer
    .scroll-to-top.scroll-to-target(data-target='.main-header')
        span.fa.fa-arrow-up
    script(src='/js/bootstrap.min.js')
    script(src='/js/revolution.min.js')
    script(src='/js/jquery.appear.js')
    script(src='/js/knob.js')
    script(src='/js/jquery.fancybox.pack.js')
    script(src='/js/jquery.fancybox-media.js')
    script(src='/js/validate.js')
    script(src='/js/wow.js')
    script(src='/js/script.js')
template(name="pagecarewithconfidence")
    .page-wrapper
        section.default-section
            .auto-container
                .row.clearfix
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h2 Good News!
                            p   Caring with Confidence is a free programme for anyone caring for a family member or friend who is chronically ill or disabled.  This can have a huge impact on your own health and wellbeing, many say they feel isolated, experience feelings of being unable to cope, unsure where to go for advice and support, or feel they are not being heard.  Others say they would like the chance to meet others in similar situations.
                            p   For more information and of when a programme starts in your area -  please contact  Ranjana, Pam or Debbie  on 0116 251 0999 For other training opportunities.
                            p   There are seven sessions which also offer complementary refreshments at each session -
                            b   There are seven sessions which also offer complementary refreshments at each session -
                            p   Welcome and Introductory session.
                            b   Caring and Coping
                            p   Gives you a chance to discuss the emotions and stress surrounding caring.  Looks at ways to cope with stress more effectively.
                            b Caring and Communicating
                            p   Get the best from communicating with professionals and service providers.
                            b Caring Day to Day
                            p Looks at the essentials of caring for someone from medication to emergencies and how to keep someone safe in the home.

                            b Caring and Life
                            p Invites you to take time out and think about how to juggle competing demands and how your caring role fits with other aspects of your life.

                            b Stress Management
                            p Stress management and relaxation techniques to incorporate into everyday life, Looks at ways to help you juggle your caring role & finding valuable time for yourself!!

                            b Caring for someone with Dementia (when required)
                            p Understanding the effects of dementia and look at practical ways and communication skills to help care for someone with the condition.
                    .column.col-md-6.col-sm-12.col-xs-12
                        article.inner-box
                            h2 Prepare to care with Confidence !
                            h4 CITY LEICESTER
                            h5   Starting: 4th April 2016    Time:  10.00am - 1.00pm.  Place: LCiL West End Neighbourhood Centre, Andrewes Street- off Hinckley Road- Leicester LE3 5PA.
                            table(style="width:100%")
                                tr
                                    td Caring and Coping
                                    td Monday 4th April 2016
                                tr
                                    td Managing Stress Effectively
                                    td Monday 11th April 2016
                                tr
                                    td  Caring and Communication
                                    td Monday 18th April 2016
                                tr
                                    td  Caring Day to Day
                                    td Monday 25th April 2016
                                tr
                                    td  Caring and Life
                                    td Monday 9th May 2016
                                tr
                                    td  Caring and Working 2016
                                    td Monday 16th May 2016
                            br
                            h5 Starting: 7th June 2016    Time:  10.00am - 1.00pm.  Place: AGE UK, Clarence House, Humberstone Gate, Leicester LE1 3PJ.
                            table(style="width:100%")
                                tr
                                    td Caring and Coping
                                    td Tuesday 7th June 2016
                                tr
                                    td Managing Stress Effectively
                                    td Tuesday 14th June 2016
                                tr
                                    td Caring and Communication
                                    td Tuesday 21st June 2016
                                tr
                                    td Caring Day to Day
                                    td Tuesday 28th June  2016
                                tr
                                    td Caring and Life
                                    td Tuesday 5th   July   2016
                                tr
                                    td Caring and Working
                                    td Tuesday 12th July 2016
                            br
                            h4 COUNTY HINCKLEY
                            p Starting: 12th May 2016    Time:  10.00am - 1.00pm.  Place: St. Francis Community Centre, Tudor Road, Hinckley, Leicestershire LE10 0EQ.
                            table(style="width:100%")
                                tr
                                    td Finding Your Way
                                    td  Thursday 12th May
                                tr
                                    td Caring and Coping
                                    td  Thursday 19th May
                                tr
                                    td Caring and Communication
                                    td  Thursday 26th May
                                tr
                                    td Caring Day to Day
                                    td  Thursday 2 June
                                tr
                                    td Managing Stress
                                    td  Thursday 9th June
                            p Please contact: Ranjana or Debbie to book a place or for full details on: 0116 2510  999
        section.subscribe-intro
            .auto-container
                .row.clearfix
                    .column.col-md-9.col-sm-12.col-xs-12
                        h2 Subcribe for Information and Magazine
                        |                     We will use your email to send you our Magazine and events information. Your email will only be used by our organisation.
                    .column.col-md-3.col-sm-12.col-xs-12
                        .text-right.padd-top-20
                            a.theme-btn.btn-style-three(href='#') Subscribe Now
        +footer
    .scroll-to-top.scroll-to-target(data-target='.main-header')
        span.fa.fa-arrow-up
    script(src='/js/bootstrap.min.js')
    script(src='/js/revolution.min.js')
    script(src='/js/jquery.appear.js')
    script(src='/js/knob.js')
    script(src='/js/jquery.fancybox.pack.js')
    script(src='/js/jquery.fancybox-media.js')
    script(src='/js/validate.js')
    script(src='/js/wow.js')
    script(src='/js/script.js')